@inherits LayoutComponentBase

<PageTitle>Cards.Web</PageTitle>

<div class="page">
    <main>
        <div class="top-row">
            <h1>Planning Poker</h1>
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>